ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    float: right;
}

li {
    float: right;
}

ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 40px 60px;
    text-decoration: none;
}
.nav {
    top: 50px;
    right: 20px;

}