header{
    background-color: #222224;
    margin-top: 10px;
    padding-top: 12px;
    padding-left: 2%;
    padding-bottom: 12px;
    height: 20px;
    width: 95%;
    position: relative;
	border-top-right-radius: 40em;
	border-bottom-right-radius: 40em;
}

header div{
    float: left;
    margin-right: 20%;
    color: white;
}

header #adroite{
    position: absolute;
    width: 150px;
    margin-right: 0;
    margin-top: 10px;
    right: 0px;
    top:0px
}

header #adroite img{
    margin-top: 3px;
    width: 15px;
}

header form input{
    width: 100px;
    height: 10px;
    border-radius: 5px;
}

@media only screen and (min-width: 1220px){
    header{
        height: 50px;
        font-size: 30px;
    }

    header > div:first-child{
        margin-top: 10px;
    }

    header #adroite{
        width: 300px;
        margin-top: 15px;
    }

    header #adroite > div:first-child{
        margin-right: 10px;
    }

    header #adroite input{
        width: 160px;
        height: 15px;
    }

    header #adroite a div{
        margin-top: 5px;
        margin-right: 25px
    }

    header #adroite img{
        width: 30px;
    }	
}

@media only screen and (min-width:1220px){
    header{
        height: 70px;
        font-size: 40px;
    }

    header #adroite{
        width: 400px;
        margin-top: 20px;
    }

    header #adroite input{
        width: 220px;
        height: 25px;
    }

    header #adroite a div{
        margin-top: 8px;  
    }

    header #adroite img{
        width: 25px;
    }
}

a:nth-child(2):hover, a:nth-child(2) a:hover{
color:#C18FB7;
}
a:nth-child(3):hover, a:nth-child(3) a:hover{
color:#729EBF;
}
a:last-child:hover, a:last-child a:hover{
color:#E3DD71;
}