@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
    box-sizing: border-box;
    line-height: 1.5em;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
}

header {
    box-shadow: 0 10px 15px -3px
    rgba(0, 0, 0, 0.1),
    0 4px 6px -4px
    rgba(0, 0, 0, 0.1);
    padding: 30px 50px;
    position: fixed;
    top: 0;
    width: 100%;
}
header .wrapper {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
header .logo img {
    height: 50px;
    display: block;
}

.navbar {
    position: fixed;
    top: 0;
    left: 100%;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(171, 165, 165, 0.66);
    padding: 20px;
    transition: left 0.3s;
}

.navbar.show {
    left: 0 !important;
}

.hide-scroll {
    overflow: hidden;
}

.navbar ul {
    all: unset;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.navbar ul a {
    all: unset;
    color: #444444;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    font-size: 28px;
}
.navbar ul a:hover {
    color: #fa428e;
    text-decoration: underline overline;
    text-decoration-thickness: 3px;
}

.main-nav .nav li:hover a,
.main-nav .nav li a.active {
    color: #fa428e;

}
.close-nav {
    text-align: center;

}
.close-nav button {
    all: unset;
    font-size: 42px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 3px;
    color: #444444;
    position: absolute;
    top: 20px;
    right: 45px;
}
.close-nav button:hover {
    color: #222222;
    background: #b3c0c2;
}

.menu-bar button {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: transparent;
    height: 50px;
    width: 50px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}
.menu-bar i {
    display: block;
    border-top: 3px solid #2c3f67;
    border-bottom: 3px solid #2c3f67;
}
.menu-bar i::after {
    display: block;
    content: "";
    border-top: 3px solid #2c3f67;
    margin: 6px 0;
}
.menu-bar button:hover {
    background: #d0ece5;
}
.menu-bar button:hover i {
    border-color: #ffffff;
}

.container {
    max-width: 1000px;
    padding: 5px;
    width: 100%;
    margin: 2rem auto;
}

/**
Style du portfolio
*/

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.5rem;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 23px;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 8;
}

.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}

.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
}

.gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 8;
    grid-row-end: 12;
}

.gallery__item--7 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 9;
    grid-row-end: 12;
}

.gallery__item--8 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 12;
    grid-row-end: 12;
}

.gallery__item--9 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 12;
    grid-row-end: 12;
}

.gallery__item--10 {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 12;
    grid-row-end: 12;
}

.gallery__item--11 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 13;
    grid-row-end: 13;
}

.gallery__item--12 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 13;
    grid-row-end: 13;
}

@media (min-width: 550px) {
    .navbar {
        all: unset;
        display: block;
    }
    .navbar ul {
        flex-direction: row;
        gap: 80px;

    }
    .navbar ul a {
        font-size: inherit;
    }
    .close-nav,
    .menu-bar {
        display: none;
    }

    .main-banner {
        top : 1em;
        min-height: 30px;
        border-radius: 23px;
    }

    .main-banner h6 {
        font-size: 20px; /* Ajustez la taille de la police */
        margin-bottom: 15px;
    }
    .main-banner h4 {
        font-size: 30px; /* Ajustez la taille de la police */
        margin-bottom: 15px;
    }
    .main-banner h4 em {
        font-size: 18px; /* Ajustez la taille de la police */
    }
    .container3 {
        display: -webkit-box;
        align-items: center;
    }
}

@media (max-width: 550px) {
    .main-banner {
        padding: 0 ;
    }
    .main-banner .p {
        position: center;
        left: 15px;
    }

   .presentation{
       margin-left: 18px;
       word-wrap: break-word; /* Permet au texte de continuer à la ligne s'il est trop long */

   }
   .header-text {
       text-align: justify-all;
   }
   .heading-section h4{
       font-size: 20px;
       word-wrap: break-word; /* Permet au texte de continuer à la ligne s'il est trop long */

   }
   .item h4{
       font-size: 10px;
   }

   .main-button a {
       padding: 12px 21px;
       font-size: 8px;
   }
    .container3 {
        display: -webkit-box;
        align-items: center;
        object-fit: cover;
        margin-left: -22px;

    }
    .container {
        max-width: 1000px;
        padding: 5px;
        width: 100%;
        margin: 2rem auto;
    }
}

@media (max-height: 700px) {

    .text {
        margin-left: 20px; /* Espace entre l'image et le texte */
    }

}
