html{
    background-image: url(./Principal/Images/photo.jpg);
    background-attachment: fixed;
    background-size:cover;
    margin:0;
    position: relative;
}

body{
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

h1{
    margin: 0;
    font-size: 20px;
}

h2{
    margin: 0;
    font-weight: normal;
    font-style: italic;
    font-size: 18px;
}

.noir{
    background-color: #031044;
    color: white;
    border: #1c1c1d 2px solid;
}

.blanc{
    background-color: #A998B2;
    color: #222224;
    border: #dfdfdf 2px solid;
}

body #corps{
    margin-top: 30px;
    margin-bottom: 70px;
    margin-left: 8%;
    margin-right: 8%;
}

body #corps > div{
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}

body #corps .produit{
    margin-top: 50px;
    height: 155px;
    width: 95%;
    position: relative;
}

body #corps .produit > div{
    position: absolute;
}

body #corps .produit > div:first-child{
    width: 85%;
    height: 25%;
    left: -8%;
    top: -15%;
}

body #corps .produit > div:first-child div{
    margin-top: 10px;
}

body #corps .produit .bouton{
    position: absolute;
    right: 22px;
    bottom: 5px;
    width: 35%;
    padding: 3px;
}

body #corps img{
    float: left;
    width: 115px;
    margin-right: 10px;
    margin-top: 10px;
}


@media only screen and (min-width: 400px){
    h1{
        font-size: 30px;
    }

    h2, body #corps > div{
        font-size: 25px;
    }

    body #corps{
        margin-top: 60px;
        margin-bottom: 130px;
    }

    body #corps > div{
        margin-top: 40px;
    }

    body #corps div .description{
        font-size: 20px;
        margin-top: 20px;
        right: 10px;
        left: 10px;
    }

    body #corps .produit{
        height: 210px;
        margin-top: 100px;
    }
    
    body #corps img{
        width: 170px;
    }

    body #corps .produit .bouton{
        bottom: 10px;
    }
}

@media only screen and (min-width:1200px){
    h1{
        font-size: 40px;
    }

    h2, body #corps > div{
        font-size: 35px;
    }

    body #corps{
        margin-bottom: 180px;
    }

    body #corps > div{
        margin-top: 60px;
    }

    body #corps .produit > div:first-child div{
            margin-top: 18px;
    }

    body #corps .produit{
        height: 300px;
        margin-top: 140px;
    }

    body #corps img{
        width: 250px;
    }

    body #corps div .description{
        font-size: 30px;
        margin-top: 30px;
    }

    #Recherche{
        width: 400px;
    }

}
