body{
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

h1{
    margin: 0;
    font-size: 15px;
    font-style: italic;
}

h2{
    margin: 0;
    margin-bottom: 5%;
    font-size: 12px;
    text-decoration: underline;
}

h3{
    margin: 0;
    margin-bottom: 2%;
    font-size: 10px;
}

p{
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 10px;
}

.noir{
    color: white;
    border: #1c1c1d 2px solid;
}

.blanc{
    background-color: white;
    color: #222224;
    border: #dfdfdf 2px solid;
}

body .corps .trait_hrz{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    margin-top: 5%;
    margin-bottom: 5%;
}

body .corps{
    margin-top: 40px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 80px;
    padding: 10px;
	background-color:#010927;

}

body .corps:after{
    display: block;
    content: "";
    clear: both;
}

body .corps > div{
    margin-bottom: 10px;

}

body .corps > div:after{
    display: block;
    content: "";
    clear: both;
}

body .corps .image{
    float: left;
    width: 40%;
}

body .corps .image img{
    width: 100%;
}

body .corps .etiquette{
    float: left;
    width: 60%;
}

body .corps .etiquette div{
    margin: 10px;
    text-align: center;
    padding: 5px;
}

@media only screen and (min-width:768px){
    h1{
        font-size: 25px;
    }
    
    h2{
        font-size: 20px;
    }
    
    h3{
        font-size: 18px;
    }
    
    p{
        font-size: 22px;
    }

    body .corps{
        margin-bottom: 120px;
    }

    body .corps > div{
        margin-bottom: 20px;
    }

    body .corps > div:first-child{
        position: relative;
    }

    body .corps .image{
        width: 50%;
    }

    body .corps .etiquette{
        position: absolute;
        bottom: 10px;
        right: 0;
        width: 50%;
    }

    body .corps .etiquette div{
        padding: 10px;
    }

}

@media only screen and (min-width:1024px){
    h1{
        font-size: 35px;
    }
    
    h2{
        font-size: 35px;
    }
    
    h3{
        font-size: 33px;
    }
    
    p{
        font-size: 32px;
    }

    body .corps{
        margin-bottom: 140px;
        padding: 20px;
    }
}

@media only screen and (min-width:1440px){
    h1{
        font-size: 45px;
    }
    
    h2{
        font-size: 45px;
    }
    
    h3{
        font-size: 43px;
    }
    
    p{
        font-size: 42px;
    }

    body .corps{
        padding: 30px;
    }
}